@page
@model DR3_AT.Pages.Reservas.CreateReserva

@{
    ViewData["Title"] = "Fazer Nova Reserva";
}

<h1>@ViewData["Title"]</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="Reserva.ClienteId" class="control-label">Cliente</label>
                <select asp-for="Reserva.ClienteId" class="form-control" asp-items="Model.ClientesDisponiveis">
                    <option value="">-- Selecione um Cliente --</option>
                </select>
                <span asp-validation-for="Reserva.ClienteId" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Reserva.PacoteTuristicoId" class="control-label">Pacote Turístico</label>
                <select asp-for="Reserva.PacoteTuristicoId" class="form-control" asp-items="Model.PacotesDisponiveis">
                    <option value="">-- Selecione um Pacote --</option>
                </select>
                <span asp-validation-for="Reserva.PacoteTuristicoId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Confirmar Reserva" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>